<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, tempore
        repellat, pariatur nemo itaque iusto voluptatibus repellendus laudantium
        dignissimos ipsum in? Temporibus cum ab beatae exercitationem dolorum
        asperiores recusandae neque!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, tempore
        repellat, pariatur nemo itaque iusto voluptatibus repellendus laudantium
        dignissimos ipsum in? Temporibus cum ab beatae exercitationem dolorum
        asperiores recusandae neque!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, tempore
        repellat, pariatur nemo itaque iusto voluptatibus repellendus laudantium
        dignissimos ipsum in? Temporibus cum ab beatae exercitationem dolorum
        asperiores recusandae neque!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
